<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mooc.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.mooc.entity.Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="hour" property="hour" jdbcType="CHAR" />
    <result column="kind" property="kind" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, context, type, price, label, hour,kind,time
  </sql>
  <select id="selectlastcourse" resultMap="BaseResultMap">
  SELECT * from course ORDER BY id desc LIMIT 0,1
  </select>
  <select id="ageType0"  resultMap="BaseResultMap" >
    select *
    from course where type = 0 and kind = 0

  </select>
  <select id="ageType1"  resultMap="BaseResultMap" >
    select *
    from course where type = 1 and kind = 0

  </select>

  <select id="ageType2"  resultMap="BaseResultMap" >
    select *
    from course where type = 2 and kind = 0

  </select>

  <select id="ageType3"  resultMap="BaseResultMap" >
    select *
    from course where type = 3 and kind = 0

  </select>
  <select id="coursesearch" parameterType="String" resultMap="BaseResultMap" >
    select *
    from course where name like

        concat('%',#{0},'%')

  </select>
<select id="selectAllCourse" resultMap="BaseResultMap"  >
    select *
    from course where kind = 0
  </select>

  <select id="selectAllBooks" resultMap="BaseResultMap"  >
    select *
    from course where kind = 1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="INTEGER" >
    select
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="bookAgeType0" resultType="com.mooc.entity.Course">
      select *
      from course where type = 0 and kind = 1
    </select>
  <select id="bookAgeType1" resultType="com.mooc.entity.Course">
    select *
    from course where type = 1 and kind = 1
  </select>
  <select id="bookAgeType2" resultType="com.mooc.entity.Course">
    select *
    from course where type = 2 and kind = 1
  </select>
  <select id="bookAgeType3" resultType="com.mooc.entity.Course">
    select *
    from course where type = 3 and kind = 1
  </select>
    <select id="selectRecommendableCourse" resultType="com.mooc.entity.Course">
      select *
      from course where type = #{ageType} and kind = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mooc.entity.Course" >
    insert into course (id, name, context,
      type, price, label,
      hour)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR},
      #{hour,jdbcType=CHAR},#{time,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mooc.entity.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="context != null" >
        context,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="hour != null" >
        hour,
      </if>
      <if test="kind != null" >
        kind,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
         #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        #{hour,jdbcType=CHAR},
      </if>
      <if test="kind != null" >
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mooc.entity.Course" >
    update course
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        hour = #{hour,jdbcType=CHAR},
      </if>
      <if test="time != null" >
        hour = #{time,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mooc.entity.Course" >
    update course
    set name = #{name,jdbcType=VARCHAR},
      context = #{context,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      hour = #{hour,jdbcType=CHAR},
      time = #{time,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
