<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mooc.mapper.ReportMapper">

    <insert id="insert" parameterType="com.mooc.entity.Report">
        insert into report (id, userid, comment, status)
        values (#{report.id}, #{report.userid}, #{report.comment}, #{report.status})
    </insert>
    <update id="updateByPrimaryKeySelective">
        update report
        set status = #{report.status}
        where id = #{report.id}
    </update>
    <select id="selectAll" resultType="com.mooc.entity.Report">
        select * from report
    </select>
    <select id="selectByPrimaryKey" resultType="com.mooc.entity.Report">
        select * from report where id = #{id}
    </select>
</mapper>